{{ $sudo := "sudo  " -}}
{{ if eq .chezmoi.username "root" -}}
{{     $sudo = "" -}}
{{ end -}}
#! /bin/bash

{{ $sudo }} apt install -yy tmux

# oh-my-tmux handle in .chezmoiexternal.toml.tmpl
# if [ ! -d ~/.tmux ]; then
#     git clone https://github.com/gpakosz/.tmux ~/.tmux
#     ln -sr ~/.tmux/.tmux.conf ~/
#     ln -sr ./.tmux.conf.local ~/
#     git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
# fi
